.infos{
    margin: 230px;
    padding-bottom: 20px;

    h2{
        font-size: 32px;
    }

    .logo{
        width: 2.5em;
        height: 2.5em;
        object-fit: cover;
        margin: 10px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    .infos{
        margin: 150px 100px;

        h2{
            font-size: 20px;
        }
    }
}