.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 230px;
    margin-bottom: 260px;
    gap: 50px;
  
    figure{
      img{
        height: 350px;
        border-radius: 50%;
      }
    }
  
    .parcours{
      width: 500px;
      text-align: center;
    }
  }
  