.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 230px;
    margin-bottom: 260px;
    gap: 50px;
  
    figure{
      img{
        height: 350px;
        border-radius: 50%;
      }
    }
  
    .parcours{
      max-width: 500px;
      text-align: center;
      margin-right: 20px;
    }
}
  
/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    .intro{
        gap: 15px;
        margin: 150px 0;

        figure{
            img{
                height: 120px;
            }
        }
    }
}