.app{
  height: 1020px;
  // overflow-y: scroll;
  scroll-behavior: smooth;

  .portfolio{
    background-color: bisque;
    min-height: 1020px;
  }
}

h1{
  text-align: center;
  margin-top: 20px;
  position: relative;
  top: 80px;
  font-size: 52px;
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
  .app{
    .portfolio{
      min-height: 700px;
    }
  }
  
  h1{
    font-size: 24px;
    margin-top: 0;
    top: 50px;
  }
}